/* PRINCIPIO ESTILO DE ARTÍCULOS */


.artic {
    text-align: left;
    background: white(73, 202, 204, 0.625);
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: solid;
    border-width: thin;
    border-color: gray;
} /* ESTILO ARTÍCULO */

.artic footer {
    font-family: "raleway", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: right;
} /* ESTILO FOOTER DE ARTÍCULO */

.artic:hover {
    cursor: pointer;
    color: white;
    transition: 0.2s all ease;
    background-color: black;
} /* PONER CURSOR SOBRE EL ARTÍCULO */

.articSub {
    color: white;
    float: center;
    text-align: left;
    background: white(73, 202, 204, 0.625);
    padding: 20px;
    width: 128%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: solid;
    background-color: black;
    border-width: thin;
    border-color: gray;
}

.articSub footer {
    font-family: "raleway", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
}

.articSub:hover {
    cursor: pointer;
    transition: 0.2s all ease;
}

/* FIN ESTILO DE ARTÍCULOS */


/* PRINCIPIO ESTILO DE ARTÍCULOS DEL SIDEBAR */

.sidebarArtic {
    text-align: left;
    padding: 5px;
    background: black;
    margin-top: 10px;
    border-radius: 10px;
} /* CONTAINER ARTÍCULO SIDEBAR */

.sidebarArtic:hover {
    text-align: left;
    padding: 5px;
    background: darkred;
    transition: 0.5s;
    margin-top: 10px;
    border-radius: 10px;
} 


/* FIN ESTILO DE ARTÍCULOS DEL SIDEBAR */

.column {
    margin-top: 10px;
    float: left;
    width: 32%;
    padding: 7px;
  }

.row::after {
    
    content: "";
    clear: both;
    display: table;
}


.articCont {
    color: black;
    float: center;
    text-align: left;
    background: white(73, 202, 204, 0.625);
    padding: 20px;
    width: 128%;
    height: 165px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: thin;
    border-color: gray;
}

.grupCont {
    margin: 60px;
    margin-left: 300px;
}









