/* PRINCIPIO ESTILO DE BODY */

body {
    background-color: white;
}

/* FIN ESTILO DE BODY */


/* PRINCIPIO ESTILO DE TEXTO POR JERARQUÍA */

h1 {
    font-family: "montserrat", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}

h2 {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    font-family: "lato", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

h4 {
    font-family: "lato", sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

h5 {
    color: white;
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 12px;
}

h6 {
    font-family: "lato", sans-serif;
    font-weight: normal;
    font-size: 10px;
    margin-left: 12px;
    margin-top: 1px;
}

p {
    text-align: justify;
    font-family: "lato", sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

/* FIN ESTILO DE TEXTO POR JERARQUÍA */


/* PRINCIPIO ESTILO DE HEADER */

#cabeceraPrin {
    margin-top: 0px;
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(175,174,238,1) 30%, rgba(233,148,198,1) 100%);
    width: 100%;
}

#cabeceraSec {
    color: white;
    margin-top: 0px;
    text-align: center;
    background-color: black;
    width: 100%;
}

/* FIN ESTILO DE HEADER */


/* PRINCIPIO ESTILO DE BARRA DE NAVEGACIÓN */

#barNav {
    margin: 0px;
    background-color: black;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
} /* ESTILO DEL CONTAINER DE LA BARRA */


#barNav li {
    color: white;
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin: 0px 10px; 
}/* ESTILO DE TEXTO EN LA BARRA */



nav li:hover {
    cursor: pointer;
} /* EFECTO DE CURSOR AL PASAR SOBRE ALGÚN ELEMENTO */

/* FIN ESTILO DE BARRA DE NAVEGACIÓN */


/* PRINCIPIO ESTILO SECCIÓN PRINCIPAL */

#mainSect{
    margin-left: 12px;
    margin-right: 10px;
    float: left;
    width: 75%;
    height: auto;
} /* ESTILO SECCIÓN PRINCIPAL */


.headSect {
    text-align: center;
    border: solid;
    border-color: lightpink;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 7px;
} /* ESTILO HEADER DE SECCIÓN PRINCIPAL */

.headSectArt {
    text-align: center;
    border: solid;
    width: 129%;
    height: auto;
    background-color: lightblue;
    border-color: lightblue;
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 25px;
} /* ESTILO HEADER DE SECCIÓN DE ARTÍCULOS */

/* FIN ESTILO DE SECCIÓN PRINCIPAL */


/* PRINCIPIO ESTILO DE SIDEBAR */

#sidebar{
    text-align: center;
    object-position: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    float: left;
    padding: 20px;
    width: 20%;
    height: 617px;
    background: lightsalmon;
} /* SIDEBAR DE PÁGINA PRINCIPAL */

#sidebarArts{
    text-align: center;
    object-position: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    float: left;
    padding: 20px;
    width: 20%;
    height: 875px;
    background: lightsalmon;
} /* SIDEBAR DE ARTÍCULOS */

#sidebarFot{
    text-align: center;
    object-position: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    float: left;
    padding: 20px;
    width: 20%;
    height: 1080px;
    background: lightsalmon;
} /* SIDEBAR DE SECCIÓN DE FOTOS */

/* PRINCIPIO ESTILO DE SIDEBAR */


/* PRINCIPIO ESTILO DE FOOTER */

#footer{
    clear: both;
    text-align: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(114,9,121,1) 35%, rgba(0,33,39,1) 100%);
    padding: 20px;
} /* ESTILO DE CONTAINER DE FOOTER */


#footer li {
    color: white;
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin: 0px 10px; 
} /* ESTILO DE CONTENIDO DE FOOTER */

/* FIN ESTILO DE FOOTER */


/* PRINCIPIO ESTILO DE HIPERVÍNCULOS */

/* HIPERVÍNCULOS DE TIPO A */
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: lightcoral;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/* HIPERVÍNCULOS DE TIPO A */


/* FIN ESTILO DE HIPERVÍNCULOS */
  

.column2 {
    margin-top: 10px;
    float: left;
    width: 32%;
    padding: 7px;
  }

.row2::after {
    
    content: "";
    clear: both;
    display: table;
}