.artic {
    background: white(73, 202, 204, 0.625);
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: solid;
    border-width: thick;
    border-color: lightblue;
}

.artic footer {
    font-family: "raleway", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-align: right;
}

.artic:hover {
    cursor: pointer;
    color: black;
    transition: 0.2s all ease;
    background-color: lightblue;
}



